# Android
*.iml
.gradle/
local.properties
/build
/captures
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
release/

# Android Studio / IDEA
.idea/
*.iml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# OS
.DS_Store
Thumbs.db

# Local config (não versionar)
local.properties
*.keystore
